################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NopyCopyV2/obj
/NopyCopyV2/obj/Debug
/packages
/NopyCopyV2/bin/Debug
/NopyCopyV2/bin/Release
/UpgradeLog5.htm
/UpgradeLog4.htm
/UpgradeLog3.htm
/UpgradeLog2.htm
/UpgradeLog.htm
