################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NopyCopyV2/obj
/NopyCopyV2/obj/Debug
/packages
